body {
  background-color: #e6e6e6;
  overflow: hidden; }

.nopadding {
  padding: 0;
  margin: 0; }

.form-control {
  width: 320px;
  height: 60px; }

.cover {
  margin-top: 60%; }

.btn {
  width: 98%;
  height: 40px; }

.a {
  margin: 5px; }

.icons {
  display: block;
  padding: 0;
  margin: auto;
  margin-bottom: 50px;
  padding-right: 65px; }

.row {
  height: 100%; }
  .row .sidebar {
    background-color: #808080;
    height: 100rem;
    width: 100%; }
    .row .sidebar ul {
      list-style: none; }
      .row .sidebar ul li {
        margin-top: 50px;
        cursor: pointer; }

.logo {
  margin: 20px;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  background-color: #b3b3b3; }

.sidebar {
  padding-top: 60px; }

.User {
  padding: 20px 0 0 40px; }
  .User h4 {
    display: inline; }
  .User h5 {
    display: inline; }

.mark-table {
  margin-top: 220px; }

.register-header {
  text-align: center;
  color: #ffffff;
  background-color: #808080;
  width: 100%;
  padding: 0; }

/*# sourceMappingURL=app.css.map */
