body 
    background-color:  #e6e6e6 
    overflow: hidden

.nopadding 
    padding: 0
    margin: 0
.form-control
    width: 320px
    height: 60px

.cover
    margin-top: 60%

.btn 
    width: 98%
    height: 40px

.a
    margin: 5px

.icons 
    display: block
    padding: 0
    margin: auto
    margin-bottom: 50px 
    padding-right: 65px

.cover
    margin-top: 10%
.register-header
    text-align: center
    color: #ffffff
    background-color: #808080
    width: 100%
    padding: 0       


td, tr, th 
    border: 1px solid black

table 
    border-collapse: collapse
td, th 
    min-width: 50px
    height: 21px

.table-input
    width: 50px !important
    height: 21px !important
.table-input-l
    width: 80px !important
    height: 21px !important  